@import "tailwindcss";

@theme {
  --font-heading: "Impact", sans-serif;
  --font-accent: "Caveat", cursive;
  --font-body: "Inter", sans-serif;

  --color-bg: #2c2c2c;
  --color-text: #fffdf3;
  --color-accent: #d9fe5a;
  --color-secondary: #a49d8e;
}
